h1 {
    text-align: center;
    margin: 22px; 
    font-size: 50px;
    color:rgba(0, 0, 0, 0.8)
    font-family: "Lora", serif; 

}


h2 {
    text-align: center; 
    font-size: 40px;

}

p {
    text-align: center
    
}



#reset {
    height: 5vh;
    width: 9vw;
    margin: 0px 150px 0px 0px;
    font-family: "Lora", serif;
    font-size: 20px;
    cursor: pointer

}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  background-color: black;
  padding: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  background-color: gray;
}

.messageboard {
    text-align: center;

}
